<div class="modal-content custom ">
  <div class="modal-header custom" >
      <img class="logo" alt="Maximus Patient Health Portal" src="./assets/images/logo-small.png">
    <h1 class="modal-title fz-14">Document Print View</h1>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body custom dashboard" style="height: 600px !important" >  
    <button  class="btn btn-success btn-sm" style="width: 60px; height: 55px;" type="button" (click)="printDiv(printpnl.innerHTML)">Print</button>
    <div class="dashboard-content" [innerHTML]="print_html" #printpnl>
  <div>
</div>