<patient-info class="flex-shrink-0"></patient-info>

<div class="bg-white m-8 d-flex flex-column flex-grow-1 overflow-height">
  <div class="messages d-flex flex-grow-1">
    <ul class="nav nav-tabs justify-content-start phrMessageSideBar width-200">
      <!-- <li class="nav-item" (click)="openModule('my_profile')">
        <a class="nav-link " [ngClass]="{  
          'active' : (module_name  === 'my_profile')
         }">
        <span>My Profile</span>
      </a>
    </li> -->
    <li class="nav-item" (click)="openModule('authorized_apps')">
        <a class="nav-link " [ngClass]="{  
          'active' : (module_name  === 'authorized_apps')
         }">
        <span>Authorized Applications</span>
      </a>
    </li>
  </ul>

  <div class="tab-content">
    @if (module_name==='authorized_apps') {
      <authorized-apps
      class="main-app d-flex flex-column p-0"></authorized-apps>
    }
  </div>
</div>
</div>