<patient-info class="flex-shrink-0"></patient-info>
<div class="bg-white m-8 d-flex flex-column flex-grow-1 overflow-height position-relative">
  <div class="border border-bottom-0 LoginLogHeader">
    <div class="section-title pl-3">
      <span class="text-app-blue font-weight-500">Activity Log</span>
    </div>
    <div class="col-auto" style="max-height: 33px !important;">
          
      <form [formGroup]="filterForm">
       
          <!-- <label class="col-form-label required" for="dateFrom">Date Range:</label> -->
          <div class="d-flex flex-grow-3 col-12 pr-0">
  
            <div class="input-group pr-0 pl-0 col-2 EncountersInput">
  
              <div class="input-group-prepend">
                <label for="dateFrom" class="input-group-text">From</label>
              </div>
  
              <input id="dateFrom" formControlName="dateFrom" class="form-control mr-0 date-control "
                placeholder="mm/dd/yyyy" name="dateFrom" ngbDatepicker #dateFrom="ngbDatepicker"
                (blur)="onDateFocusOut($event.currentTarget.value,'dateFrom')">
  
              <span class="input-group-btn">
                <button class="btn date-control-btn" (click)="dateFrom.toggle()" type="button" focusable="false"
                  tabindex="-1">
                </button>
              </span>
  
            </div>
            <div class="input-group pr-0 col-2 EncountersInput loginLogTime">
              <div class="input-group-prepend">
                <span class="input-group-text ngb-timepicker-input-group-text"><i class="far fa-clock"></i></span>
              </div>
              <input type="time" id="tpFromTime" class="form-control" formControlName="tpFromTime">
            </div>
  
            <div class="input-group pr-0 col-2 EncountersInput">
              <div class="input-group-prepend">
                <label for="dateTo" class="input-group-text">To</label>
              </div>
  
              <input id="dateTo" formControlName="dateTo" class="form-control mr-0 date-control "
                placeholder="mm/dd/yyyy" name="dateTo" ngbDatepicker #dateTo="ngbDatepicker" 
                (blur)="onDateFocusOut($event.currentTarget.value,'dateTo')">
  
              <span class="input-group-btn">
                <button class="btn date-control-btn" (click)="dateTo.toggle()" type="button" focusable="false"
                  tabindex="-1">
                </button>
              </span>
  
            </div>
            <div class="input-group pr-0 col-2 EncountersInput loginLogTime">
              <div class="input-group-prepend">
                <span class="input-group-text ngb-timepicker-input-group-text"><i class="far fa-clock"></i></span>
              </div>
              <input type="time" id="tpToTime" class="form-control" formControlName="tpToTime">
            </div>

            <div class="input-group pr-0 col-2 EncountersInput">
              <div class="input-group-prepend">
                <label for="cmb_action" class="input-group-text">Action</label>
              </div>
  
              <select class="form-control " id="cmb_action" labelForId="cmbaction" formControlName="cmbaction">
                <option value=""></option>
                <option value="Access" >Access</option>
                <option value="View" >View</option>
                <option value="Download CCDA" >Download</option>
                <option value="Transmit">Transmit</option>
              </select>
  
              
  
            </div>

            <div class="input-group pr-0 col-2 EncountersInput">
            <button type="button" class="btn btn-primary w-60 mr-1"
            (click)="onSearchClick(filterForm.value)">Search</button>
            <button type="button" class="btn btn-primary w-60"
            (click)="exportExcel()">Excel Export</button>
          </div>
          </div>
          
        
        
        </form>
      
    </div>
    </div>
    <div class="border flex-grow-1 overflow-auto max-height-100">
      <table class="table light-blue-striped-border table-sticky-header">
        <!-- <thead>
          <tr>
            <th scope="col">Activity</th>
          </tr>
        </thead>
        <tbody> -->
          <!-- <tr *ngFor="let log of lstActivityLog" (click)="selectClickedRow(log)" 
          [ngClass]="{'active' : (log.col1 === selectedRowID)}">
            <td>
                <div [innerHTML]="log.col2"></div>
            </td>
          </tr> -->
          <thead>
          <tr>
            <th scope="col" sortable="access_date" type="datetime" formate="MM/DD/YYYY hh:mm A" (sort)="onSort($event)">Date Time</th>
            <th scope="col" sortable="user_name" type="alpha" (sort)="onSort($event)">User Name</th>
            <th scope="col" sortable="module_name" type="alpha" (sort)="onSort($event)">Module Name</th>
            <th scope="col" sortable="access" type="alpha" (sort)="onSort($event)">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr st-select-row="row" *ngFor="let log of lstActivityLog" (click)="selectClickedRow(log)">
            <td>{{log.access_date}}</td>
            <td>{{log.user_name}}</td>
            <td>{{log.module_name}}</td>
            <td>{{log.access + ' '+log.operation }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="div-ui-blocker" id="uiBlocker" *ngIf="isLoading">
      <div class="div-ui-blocker-message-box ">
          <i class="fas fa-spinner fa-spin mr-1"></i>Loading
      </div>
  </div>
</div>